<div id="brsAgenda" data-role="view" data-layout="main-layout" data-init="agenda.init" data-reload="true" class="brsBody">
    <div id="oLog"></div>
    <div class="langBtns">
        <ul id="btnsLangAgenda" class="langSelect" data-role="buttongroup" data-select="setLangFilters">
            <li class="langBtn arabic" value="ar">عربي</li>
            <li class="langBtn" value="zh">中文</li>
            <li class="langBtn" value="en">English</li>
            <li class="langBtn" value="fr">Français</li>
            <li class="langBtn" value="ru">Русский</li>
            <li class="langBtn" value="es">Español</li>
        </ul>
    </div>
    <div class="brsContent brsViewDescription"></div>
    <ul id="confAgenda" data-role="listview" class="brsContent"></ul>

    <script type="text/x-kendo-template" id="agenda-template">
        # var activeCss = ""; #
        # var oDocs = ""; #
        # var oSeparator = ""; #
        <div class="scheduleHeaderIcon">
            # if (hasLink !== false) { #
                <span class="km-icon km-arrow-e"></span>
            # } #
        </div>
        # for (i = 0; i < AgendaItemDocs.length; i++) { #
            # oDocs = oDocs + oSeparator + AgendaItemDocs[i].unNumber; #
            # oSeparator = "|"; #
        # } #
        # for (i = 0; i < AgendaItemTitles.length; i++) { #
            # if (AgendaItemTitles[i].languageId == currentLang.index + 1) { activeCss = "activeLabel"; } else { activeCss = ""; } #
            <div data-role="button" class="agendaItem label_#= getLanguageCode(AgendaItemTitles[i].languageId) # #= activeCss #" data-click="showAgendaDocs" data-vid="#= viewId #" data-agenda="#= itemId # #= AgendaItemTitles[i].title.replace('.', '').replace(':', '').replace(';', '') #" data-docs="#= oDocs #">
                <span class="agendaItemNb">#= itemId #</span> <span class="agendaItemTitle">#= AgendaItemTitles[i].title.replace(".", "").replace(":", "").replace(";", "") #</span>
            </div>
        # } #
    </script>

</div>