<div id="brsNews" data-role="view" data-layout="main-layout" data-init="news.init" data-reload="true" class="brsBody">
    <div class="oLog"></div>
    <div class="brsContent brsViewDescription"></div>
    <ul data-role="listview" class="brsContent newsList"></ul>

    <script type="text/x-kendo-template" id="newsList-v3-template">
        <div class="news">
            <div class="scheduleHeaderIcon">
                # if (url !== null) { #
                    <span class="km-icon km-arrow-e"></span>
                # } #
            </div>
            # if (imgUrl !== null) { #
                <div class="newsImg">
                    <img src="#= imgUrl #" alt="#= title #" />
                </div>
            # } #
            <div class="newsTitle">#= title #</div>
            <div class="newsDescription">#= decodeHTML(description) #</div>
        </div>
    </script>

    <script type="text/x-kendo-template" id="newsListNoImg-v3-template">
        <div class="news">
            <div class="scheduleHeaderIcon">
                # if (url !== null) { #
                    <span class="km-icon km-arrow-e"></span>
                # } #
            </div>
            <div class="newsTitle">#= title #</div>
            <div class="newsDescription">#= decodeHTML(description) #</div>
        </div>
    </script>

</div>

